
<div ng-controller="appointmentController">

    <div class="container">

        <h2>Appointment</h2>

        <form>
            <div class="form-group">
                <label for="patientInputName">Patient Name</label>
                <input class="form-control" type="text" readonly ng-model="vm.patientName">
            </div>
            <div class="form-group">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tipo de Cita</label>
                <select ng-options="a.Descripcion for a in vm.appointmentTypes"
                        ng-model="vm.appointmentType"
                        name="ddlTypes"
                        class="custom-select my-1 mr-sm-2"
                        ng-init="vm.appointmentType = vm.appointmentTypes[0]"></select>
            </div>
            <div class="form-group">
                <label for="patientInputDateTime">Appointment Date</label>
                <input class="form-control" type="datetime-local" ng-model="appointmentDate" placeholder="yyyy-MM-ddTHH:mm:ss" min="2018-04-17T00:00:00" required />
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary" value="Submit" ng-click="submitForm()">Ingresar Cita</button>
        </form>

    </div>

</div>